body {
    font-family: 'Roboto',sans-serif;
    background-color: #ffffff;
    color:var(--color-contacts-p);
    background-color: var(--white-color);
    letter-spacing: 0,02em;
}

:root {
--color-logo-btn:#4d5ae5;
--primary-color:#2e2f42;
--color-contacts-p:#434455;
--white-color:#ffffff;
--secondary-color:#f4f4fd;
--btn-bgs-hero-primary:#4d5ae5;
--btn-bgs-hero-secondary:#404bbf;
--btn-portfolio-color:#e7e9fc;
}
/**
  |============================
  | 
  |============================
*/
.link{
    text-decoration: none;
}

.list {
    list-style: none;
}
.hide-title{
display: none;
}


/* цвет основного текста #434455 */
.logo {
    color: #000000;
}
.logo:hover {
    color:#000000;
}

/* style logo */
.site-nav.logo link {
color:#000000;
}
/* Header section */

.menu-link {
font style: Medium;
font-weight: 500;
font size: 16px;
line height: 1,5;
letter spacing: 0,02em;
  color:var(--primary-color)

}

.adress-link {
font-style: normal;
Font-weight: 400;
Font size: 16px;
Line height: 1,5;
Letter spacing: 0,02em;
  color: var(--color-contacts-p)
}

/* Hero section */


.hero-title{
    color:#000000;

}
/* Sections */
.section-title{
    color:#000000;
}
/* Footer section */
